.pagination {
  display: flex;
  font-weight: 700;

  &__item {
    margin-right: 6px;
  }

  &__wrap {
    display: flex;
  }

  &__prev,
  &__next {
    min-width: 74px;
    margin-right: 10px;
    font-weight: 400;
  }
}
