.btn {
  border: none;
  cursor: pointer;
  font-weight: inherit;

  &--secondary {
    border-radius: 100px;
    width: 32px;
    height: 32px;

    padding: 0;
    background-color: var(--blue);
    transition: var(--transition);

    color: var(--black);

    &:hover:not(:disabled) {
      color: var(--blue-3);
      background-color: var(--white-1);
    }

    &:disabled {
      cursor: auto;
      color: var(--gray);
    }

    &.--active {
      background-color: var(--blue-2);
      color: var(--white);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--primary {
    background-color: var(--blue-2);
    color: var(--white);
    font-weight: 700;
    padding: 16px 20px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    transition: var(--transition);

    &:hover {
      background-color: var(--blue-6);
    }

    &:active {
      background-color: var(--gray-1);
      color: var(--black-1);
    }
  }
}
